.drag-a {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    // -webkit-text-stroke: 1px currentColor;
    // min-height: 100vh;
    padding-bottom: 200px;

    &__items {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        width: 100%;
        margin: 50px auto;
        gap: 20px;

        // Контейнер для каждой пары (картинка + дом)
        .word-container {
            position: relative;
            flex: 1;
            display: flex;
            flex-direction: column;
            align-items: center;

            img {
                width: 100%;
                height: auto;
                display: block;
                z-index: 1;
            }
        }
    }

    #letter-A {
        position: absolute;
        bottom: 50px;
        // left: 50%;
        // margin-left: -75px;
        transform: none;
        padding: 30px;
        color: var(--white);
        background: var(--yellow);
        border-radius: 20px;
        width: 150px;
        height: 150px;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 0px 5px 13px 0px rgba(34, 60, 80, 0.2);
        font-size: 52px;
        cursor: pointer;
        overflow: hidden;
        z-index: 100;
        transition: transform 0.3s ease;
        -webkit-text-stroke: 1px currentColor;
        transition: none;

        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 35px;
            height: 35px;
            margin-top: 10px;
            margin-left: 10px;
            background-image: url("../../public/base/glare.svg");
            background-size: contain;
            background-repeat: no-repeat;
            background-position: top left;
            pointer-events: none;
            z-index: 2;
        }
    }

    &__hint {
        position: absolute;
        bottom: 0px;
        left: 50%;
        transform: translateX(-50%);
        font-size: 18px;
        color: var(--text-green);
        margin: 0;
        white-space: nowrap;
        z-index: 90;
    }

    @keyframes pulse {
        0% {
            transform: scale(1);
        }
        50% {
            transform: scale(1.1);
        }
        100% {
            transform: scale(1);
        }
    }

    .btn-yellow {
        transition: all 0.3s ease;
    }

    // Адаптив
    @media screen and (max-width: 1024px) {
        #letter-A {
            width: 120px;
            height: 120px;

            &::before {
                width: 25px;
                height: 25px;
            }
        }
    }

    @media screen and (max-width: 768px) {
        &__items {
            display: flex;
            overflow-x: scroll;
            scroll-snap-type: x mandatory;
            width: 100%;
            -webkit-overflow-scrolling: touch;
            justify-content: flex-start;
            margin: 30px auto;
        }

        .word-container {
            flex: none;
            scroll-snap-align: start;
            text-align: center;
            width: 50%;
        }

        #letter-A {
            font-size: 40px;
            width: 100px;
            height: 100px;
        }

        h1 {
            margin-bottom: 30px;
        }
    }

    @media screen and (max-width: 480px) {
        .word-container {
            width: 70%;
        }
    }

    
}

section.letter-btn {
    padding-top: 1%;
    display: flex;
    gap: 5%;
}

.letter-btn a {
    margin: 20px auto;
    width: 30%;

    @media screen and (max-width: 1024px) {
        width: 80%;
    }

    @media screen and (max-width: 768px) {
        max-width: none;
    }
}
