.words-d {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 100%;

    // &__text {
    //     margin: 30px 0;
    // }

    &__rows {
        display: flex;
        flex-direction: column;
        gap: 50px;
        margin: 50px 0px;
    }

    &__row {
        display: grid;
        grid-template-columns: repeat(4, minmax(0, 1fr));
        gap: 30px;
    }

    &__item {
        display: flex;
        flex-direction: column;
        color: var(--text-blue);
        font-size: 22px;
        cursor: pointer;
        transition: all 0.3s ease;
        padding: 20px 40px;
        border: 5px dashed var(--text-blue);
        border-radius: 10px;

        .icon {
            font-size: 90px;
        }

        &:hover {
            scale: 1.1;
        }
    }

    &__item.correct {
        color: var(--text-green);
        background: var(--light-green);
        border: 5px dashed var(--text-green);
        animation: correct 0.5s ease;
    }

    &__item.wrong {
        color: red;
        background: rgb(248, 176, 176);
        border: 5px dashed red;
        animation: wrong 0.5s ease;
    }

    @keyframes wrong {
        0%,
        100% {
            transform: translateX(0);
        }
        20% {
            transform: translateX(-12px);
        }
        40% {
            transform: translateX(12px);
        }
        60% {
            transform: translateX(-8px);
        }
        80% {
            transform: translateX(8px);
        }
    }

    @keyframes correct {
        0% {
            scale: 1;
        }

        50% {
            scale: 1.2;
        }

        100% {
            scale: 1;
        }
    }

    // Адаптив
    @media screen and (max-width: 1200px) {
        &__item {
            .icon {
                font-size: 70px;
            }
        }
    }

    @media screen and (max-width: 768px) {
        h1 {
            margin-bottom: 30px;
        }

        &__row {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    @media screen and (max-width: 576px) {
        &__item {
            p {
                font-size: 16px;
            }

            .icon {
                font-size: 60px;
            }
        }
    }

    @media screen and (max-width: 480px) {
        &__row {
            gap: 25px;
        }

        &__item {
            padding: 15px 30px;
        }
    }
}

section.words-d {
    padding-bottom: 20px;
}
