.end {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 50px;
    -webkit-text-stroke: 1px currentColor;
    display: flex;

    &-title {
        margin: 0 auto;
    }

    &-text {
        span {
            font-size: 40px;
        }
    }

    &-btn {
        display: flex;
        gap: 5%;
    }

    .btn-green,
    .btn-yellow {
        margin: 20px auto;
        width: 30%;
    }

    &-image {
        width: 100%;

        img {
            width: 40%;
        }
    }

    @media screen and (max-width: 1200px) {
        .btn-green,
        .btn-yellow {
            width: 70%;
        }

        &-image {
            img {
                width: 60%;
            }
        }
    }

    @media screen and (max-width: 980px) {
        &-btn {
            flex-direction: column;
        }

        .btn-green,
        .btn-yellow {
            width: 90%;
        }
    }

    @media screen and (max-width: 768px) {
        gap: 30px;
        .btn-green,
        .btn-yellow {
            max-width: none;
        }

        &-text {
            span {
                font-size: 26px;
            }
        }
    }

    @media screen and (max-width: 576px) {
        &-image {
            img {
                width: 75%;
            }
        }
    }
}
#confetti {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    pointer-events: none;
    z-index: 0;
}
