.letter {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 50px;
    display: flex;

    &-title {
        margin: 0 auto;
    }

    &-text {
        span {
            font-size: 40px;
        }
    }

    &-btn {
        display: flex;
        gap: 5%;
    }

    &-image {
        width: 100%;

        img {
            width: 60%;
        }
    }

    &-yellow {
        color: var(--yellow);
    }

    &-blue {
        color: var(--text-blue);
    }

    .btn-green,
    .btn-yellow {
        margin: 20px auto;
        width: 30%;
    }

    // АДАПТИВ

    @media screen and (max-width: 1024px) {
        &-image {
            img {
                width: 90%;
            }
        }

        &-text {
            span {
                font-size: 32px;
            }
        }
    }

    @media screen and (max-width: 980px) {
        &-btn {
            flex-direction: column;
        }

        .btn-green,
        .btn-yellow {
            width: 90%;
        }
    }

    @media screen and (max-width: 768px) {
        gap: 30px;

        .btn-green,
        .btn-yellow {
            max-width: none;
        }

        &-text {
            span {
                font-size: 26px;
            }
        }
    }
}

section.letter {
    padding-top: 2%;
}
