.rewards {
    h2 {
        color: var(--text-green);
        // margin-bottom: 100px;
        line-height: 150%;
    }

    .action {
        display: none;
        position: relative;
        overflow: hidden;
        width: 80%;
        margin: 0 auto;
        text-align: center;

        h2 {
            width: 80%;
            text-align: center;
            margin: 0 auto 50px auto;
        }

        &__wrapper {
            width: 100%;
            padding: 90px 0px;
            // margin: 20px 0px;
        }

        &__picture {
            position: absolute;
            width: 100%;

            &-img {
                // position: absolute;
                bottom: 0;
                width: auto;
                height: auto;
                transition: transform 0.2s;
                margin-top: 50px;

                &:nth-child(1) {
                    left: -10px;
                    top: 50px;
                    right: auto;
                    transform: rotate(50deg);
                }

                &:nth-child(2) {
                    top: 30px;
                    right: -10px;
                    left: auto;
                    transform: rotate(-70deg) scaleX(-1);
                }
            }
        }

        .btn-yellow {
            margin: 50px auto;
            z-index: 100;
        }
    }

    &__wrapper {
        display: block;
        position: relative;
    }

    &__items {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: 40px;
    }

    &__item {
        img {
            transition: all 0.3s ease;
            width: 90%;

            &:hover {
                scale: 1.2;
            }
        }
    }

    &__image {
        display: flex;
        justify-content: left;
        margin-top: 100px;

        img {
            width: 50%;
        }
    }

    @media screen and (max-width: 1200px) {
        .action {
            width: 100%;
        }
    }

    @media screen and (max-width: 890px) {
        .action {
            &__wrapper {
                padding: 50px 0px;
            }

            .btn-yellow {
                margin: 20px auto;
            }
        }
    }

    @media screen and (max-width: 768px) {
        .action {
            padding: 0;

            &__picture img {
                max-height: 150px;
            }
        }

        &__items {
            grid-template-columns: repeat(4, 1fr);
            gap: 20px;
        }

        &__item {
            img {
                width: 100%;
            }
        }

        &__image img {
            width: 70%;
        }
    }

    @media screen and (max-width: 576px) {
        .action {
            h2 {
                margin: 0 auto 20px auto;
            }
            &__picture img {
                max-height: 120px;
            }

            .btn-yellow {
                width: 80%;
            }
        }

        
        &__items {
            grid-template-columns: repeat(3, 1fr);
        }

        &__image img {
            width: 80%;
        }
    }

    @media screen and (max-width: 480px) {
        .action {
            .btn-yellow {
                width: 70%;
            }

            &__picture-img:nth-child(2) {
                top: 0px;
            }

            &__picture-img:nth-child(1) {
                top: 0px;
            }

            .btn-yellow {
                top: 20px;
            }
        }

        &__image img {
            width: 90%;
        }
    }
}
