
:root {
    --green: #22C55E;
    --light-green: #DDFAE8;
    --text-green: #1A9849;
    --text-blue: #3D87FF;
    --blue: #70CEFF;
    --light-blue: #D7F1FF;
    --yellow: #FFBD4D;
    --dark-purple: #8B5CF6;
    --light-purple: #c7b4f1;
    --light-blue: #D7F1FF;
    --light-yellow: #FFEFD3;
    --light-red: #FFE5E5;
    --white: #fff;
    --background: #f7fcff;
    --red: #E9593E;
    --pink: #FFADAD;
}