.soon {
    &__wrapper {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        margin: 0 auto;
        gap: 50px;
    }

    &__content {
        width: 100%;

        h1 {
            width: 100%;
        }

        &-btn {
            width: 70%;
        }
    }

    .btn-yellow {
        margin-top: 30px;
    }

    &__image {
        display: flex;
        align-items: center;
        width: 80%;

        img {
            
            margin: auto 0;
            position: absolute;
            width: 50%;
        }
    }

        @media screen and (max-width: 1200px) {
        &__wrapper {
            flex-direction: column;
        }

        &__content {
            margin: 0 auto;
            text-align: center;
            align-items: center;
            display: flex;
            justify-content: center;
            flex-direction: column;
        }

        &__image {
            justify-content: center;

            img {
                position: sticky;
                width: 100%;
            }
        }
    }

    @media screen and (max-width: 1024px) {
        .btn-green {
            margin-top: 50px;
            max-width: none;
            width: 90%;
        }

        .btn-yellow {
            max-width: none;
            width: 90%;
        }
    }
}

section.soon{
    padding: 5% 11%;
}
